<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.icon_57_url }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.icon_60_url }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.icon_72_url }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.icon_76_url }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.icon_114_url }}"/>
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.icon_120_url }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.icon_144_url }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.icon_152_url }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.icon_180_url }}"/>
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.icon_192_url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.icon_32_url }}"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.icon_96_url }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.icon_16_url }}"/>
    <meta name="msapplication-TileImage" content="{{ site.icon_144_url }}"/>
    <meta property="og:image:type" content="image/png">
    <meta name="twitter:image:type" content="image/png">
    <meta property="og:image" content="{{ site.banner_url }}"/>
    <meta property="twitter:image" content="{{ site.banner_url }}"/>
    <meta property="og:name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="twitter:name" content="{{ site.title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="msapplication-TileColor" content="#000000">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/index.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="twitter:image:type" content="image/png">
    <meta property="twitter:image" content="{{ site.banner_url }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Source+Code+Pro:wght@200&family=Source+Sans+3&display=swap" rel="stylesheet">
    <title>{{ site.title }}</title>
   </head>